<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignments</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" media="(prefers-color-scheme: dark)" href="{{ url_for('static', filename='darkstyles.css') }}">

    <script>
        const userId = "{{ user_id }}";

        let name = "";
        let usertype = "";

        fetch(`/user/${userId}`)
        .then(response => response.json())
        .then(user => {
            name = user.name;
            usertype = user.usertype;
            fetch(`/navigation/${usertype}`)
            .then(response => response.text())
            .then(content => {
                document.getElementById("navigation").innerHTML = content;
            })
            .catch(error => console.error("Error:", error));
        })
        .catch(error => console.error("Error:", error));
    </script>     
</head>
<body>
    <header id = "navigation">
       
                        
    </header>    
    <main>
        <table border="1">
            <tr>
                <th>Q1</th>
                <th>Q2</th>
                <th>Q3</th>
                <th>Q4</th>
            </tr>
            {% for feedback in df %}
            <tr>
                <td>{{ feedback.q1 }}</td>
                <td>{{ feedback.q2 }}</td>
                <td>{{ feedback.q3 }}</td>
                <td>{{ feedback.q4 }}</td>  
            </tr>
            {% endfor %}
        </table>
        
    </main>
    
</body>
</html>