<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lecture_notes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" media="(prefers-color-scheme: dark)" href="{{ url_for('static', filename='darkstyles.css') }}">
</head>
<body>
    <header>
        <h1>CSCB20 - Introduction to Databases and Web Applications</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li class="dropdown">
                    <a href="#">Course Material ▾</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('static', filename='syllabus.pdf') }}" target="_blank">Syllabus</a></li>
                        <li><a href="{{ url_for('assignments') }}">Assignments</a></li>
                        <li><a href="{{ url_for('labs') }}">Labs</a></li>
                        <li><a href="{{ url_for('lecture_notes') }}">Lecture Notes</a></li>
                    </ul>
                </li>
                <li><a href="https://piazza.com/class/m5fmz9kzjo83yk" target="_blank">Piazza</a></li>
                <li><a href="https://markus2.utsc.utoronto.ca/courses" target="_blank">Markus</a></li>
                <li><a href="{{ url_for('anon_feedback') }}">Anon Feedback</a></li>
                <li><a href="{{ url_for('team') }}">Course Team</a></li>
            </ul>
        </nav>
                        
    </header>
    <main>
        <section>
            <h3>Week 1</h3>

        </section>
        <section>
            <li><a href="lab.pdf" target="_blank">Week 1 Lab Worksheet</a></li> 
            <li><a href="lab.pdf" target="_blank">Week 1 Lab Solutions </a></li>
        </section>
        <section>
            <h3>Week 2</h3>
        </section>
        <section>
            <li><a href="lab.pdf" target="_blank">Week 2 Lab Worksheet</a></li> 
            <li><a href="lab.pdf" target="_blank">Week 2 Lab Solutions </a></li>
        </section>
        <section>
            <h3>Week 3</h3>
        </section>
        <section>
            <li><a href="lab.pdf" target="_blank">Week 3 Lab Worksheet</a></li> 
            <li><a href="lab.pdf" target="_blank">Week 3 Lab Solutions </a></li>
        </section>
        <section>
            <h3>Week 4</h3>
        </section>
        <section>
            <li><a href="lab.pdf" target="_blank">Week 4 Lab Worksheet</a></li> 
            <li><a href="lab.pdf" target="_blank">Week 4 Lab Solutions </a></li>
        </section>
        <section>
            <h3>Week 5</h3>
        </section>
        <section>
            <li><a href="lab.pdf" target="_blank">Week 5 Lab Worksheet</a></li> 
            <li><a href="lab.pdf" target="_blank">Week 5 Lab Solutions </a></li>
        </section>
        
    </main>
</body>
</html>