<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" media="(prefers-color-scheme: dark)" href="{{ url_for('static', filename='darkstyles.css') }}">

</head>
<body>
    <header>
        <h1>CSCB20 - Introduction to Databases and Web Applications</h1>
        <br>
        <h2>LOGIN</h2>
    </header>
    <main class="login">
        <div class="login-box">

            <!-- Flash messages for errors/success -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="flash-messages">
                        {% for category, message in messages %}
                            <div class="flash {{ category }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            <!-- Login Form -->
            <form action="/login" method="POST">
                <div class="input-box">
                    <input type="text" name="email" class="input-field" placeholder="Email" required>
                </div>
                <div class="input-box">
                    <input type="password" name="password" class="input-field" placeholder="Password" required>
                </div>
                <div class="input-submit">
                    <button type="submit" class="submit-btn">Sign In</button>
                </div>
            </form>
            
            <div class="sign-up-link">
                <p>Don't have account? <a href="{{ url_for('signup') }}">Sign Up</a></p>
            </div>
        </div>
    </main>
    <footer>
        <p><a href="https://web.cs.toronto.edu/">Faculty of Computer Science</a></p>
        <p>Site designed by Shabir Gazzaly</p>
    </footer>
</body>
</html>