<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignments</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" media="(prefers-color-scheme: dark)" href="{{ url_for('static', filename='darkstyles.css') }}">

    <script>
        const userId = "{{ user_id }}";

        let name = "";
        let usertype = "";

        fetch(`/user/${userId}`)
        .then(response => response.json())
        .then(user => {
            name = user.name;
            usertype = user.usertype;
            fetch(`/navigation/${usertype}`)
            .then(response => response.text())
            .then(content => {
                document.getElementById("navigation").innerHTML = content;
            })
            .catch(error => console.error("Error:", error));
        })
        .catch(error => console.error("Error:", error));


        document.addEventListener("DOMContentLoaded", function() {
        const hamburger = document.querySelector(".hamburger");
        const navOverlay = document.querySelector(".nav-overlay");
        const navLinks = document.querySelectorAll(".nav-overlay a, .nav a");
        const container = document.querySelector("#container");
        const pageNameContainer = document.getElementById("page-name-container");

        function updateGrade(container, assessment, name, id, mode) {
            container.innerHTML = `
                <div id = "backupdategrade">
                    <button class="nav-btn"> Go Back </button>
                </div>
                </br>
                <div id="updategrade">
                    <section>
                        <h3> ${name} : ${assessment}</h3>
                        </br>
                        <form>

                            <label for="question">Update Mark</label>
                            <br>
                            <input type="text" id="newmark" placeholder="Type here">
                            <br><br>
                            <label for="question">Update Feedback</label>
                            <br>
                            <textarea style="width: 500px; height: 100px;" placeholder="Type here"></textarea>
                            <br><br>
                            <button class="nav-btn"> Submit </button>
                        </form> 
                    </section>
                <div>
            `;

            const submitButtons = document.querySelectorAll("#updategrade .nav-btn");
            submitButtons.forEach((button) => {
                button.addEventListener("click", function () {
                    const newmark = document.getElementById("newmark").value;
                    if (mode == "update") {
                        fetch(`/update_mark/${id}/${assessment}/${newmark}`, {
                            method: "PUT",
                            headers: {
                                "Content-Type": "application/json"
                            },
                        })
                        .then(response => response.json())
                        .catch(error => console.error("Error:", error));
                    }
                    else if (mode == "enter") {
                        fetch(`/add_mark/${id}/${assessment}/${newmark}`, {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json"
                            },
                        })
                        .then(response => response.json())
                        .catch(error => console.error("Error:", error));
                    }
                    
                });
            });

            const backButtons = document.querySelectorAll("#backupdategrade .nav-btn");
            backButtons.forEach((button) => {
                button.addEventListener("click", function () {
                    loadStudentMark(container, assessment, id, name);
                });
            });

            
        }


        function loadStudentMark(container, assessment, studentid, studentname) {

            let module = ""
            switch(assessment) {
                case "Assignment 1":
                    module = "A1"
                    break;
                case "Assignment 2":
                    module = "A2"
                    break;
                case "Assignment 3":
                    module = "A3"
                    break;
                case "Midterm":
                    module = "midterm"
                    break;
                case "Final Exam":
                    module = "final"
                    break;
            }


            fetch(`/marks/${studentid}/${module}`)
            .then(response => response.json()) 
            .then(markdata => {


                let mark = markdata.mark;
                let buttontext = "Update Mark"
                let mode = "update";
                if (mark == -1) {
                    mark = "Not Graded";
                    mode = "enter";
                    buttontext = "Enter Mark";
                }

                container.innerHTML = `
                        <div id = "backstudent">
                            <button class="nav-btn" > Back </button>
                        </div>
                        </br> 
                        <div id="studentmarks">
                            </br>
                            <section>
                                <h3> ${studentname} : ${assessment} </h3>
                                <br>
                                <h5> Mark: ${mark} </h5>
                                <br>
                                <h5> Feedback: </h5>
                                <br>
                                <p> some feedback </p>
                                <br>
                                <button class="nav-btn" data-mode = ${mode} > ${buttontext} </button>
                            </section>
                        </div>
                        `;
                    
                const backButtons = document.querySelectorAll("#backstudent .nav-btn");
                backButtons.forEach((button) => {
                    button.addEventListener("click", function () {
                        selectStudents(container, assessment);
                    });
                });

                const updateButtons = document.querySelectorAll("#studentmarks .nav-btn");
                updateButtons.forEach((button) => {
                    button.addEventListener("click", function () {
                        updateGrade(container, module, studentname, studentid, mode);
                    });
                });

            })
            .catch(error => console.error("Error fetching students:", error));
        }


        function selectStudents(container, assessment) {

            container.innerHTML = `
                <div id = "studentlist">
                    
                </div>`;

            fetch("/allstudents")
            .then(response => response.json()) 
            .then(students => {

                students.forEach(student => {
                    const studentlistdisplay = document.getElementById("studentlist");
                    const studentButton = document.createElement('button');
                    studentButton.classList.add('nav-btn');
                    studentButton.setAttribute('data-studentid', student.id);
                    studentButton.setAttribute('data-studentname', student.name);
                    studentButton.textContent = `   Name: ${student.name} Id: ${student.id}     `;

                    studentlistdisplay.appendChild(studentButton);
                    studentlistdisplay.appendChild(document.createElement("br"));
                    studentlistdisplay.appendChild(document.createElement("br"));

                });


                const studentButtons = document.querySelectorAll("#studentlist .nav-btn");
                studentButtons.forEach((button) => {
                    button.addEventListener("click", function () {
                        const studentname = button.getAttribute("data-studentname");
                        const studentid = button.getAttribute("data-studentid");
                        loadStudentMark(container, assessment, studentid, studentname);
                    });
                });
            })
            .catch(error => console.error("Error fetching students:", error));

        }

        function loadStudentMarkPage(container, page) {
            let assessment = "N/A";

            switch (page) {
                case "assignment":
                    container.innerHTML = `
                    <div id = "assessments">
                        <button class="nav-btn" data-assessment="Assignment 1">Assignment 1</button>
                        </br> </br>
                        <button class="nav-btn" data-assessment="Assignment 2">Assignment 2</button>
                        </br> </br>
                        <button class="nav-btn" data-assessment="Assignment 3">Assignment 3</button>
                    </div>
                    `;
                    break;
                case "tutorial":
                    container.innerHTML = `
                    <div id = "assessments">
                        <button class="nav-btn" data-assessment="Tutorial 1">Tutorial 1</button>
                        </br> </br>
                        <button class="nav-btn" data-assessment="Tutorial 2">Tutorial 2</button>
                        </br> </br>
                        <button class="nav-btn" data-assessment="Tutorial 3">Tutorial 3</button>
                        </br> </br>
                        <button class="nav-btn" data-assessment="Tutorial 4">Tutorial 4</button>
                        </br> </br>
                        <button class="nav-btn" data-assessment="Tutorial 5">Tutorial 5</button>
                        </br> </br>
                    </div>
                    `;
                    break;
                case "midterm":
                    assessment = "Midterm";
                    break;
                case "final":
                    assessment = "Final Exam";
                    break;
                default:
                    break;
            }

            if (assessment == "N/A") {
                const labButtons = document.querySelectorAll("#assessments .nav-btn");
                    labButtons.forEach((button) => {
                        button.addEventListener("click", function () {
                            assessment = button.getAttribute("data-assessment");
                            selectStudents(container, assessment);
                        });
                    });
            }
            else {
                selectStudents(container, assessment);
            }
        }



        const markButtons = document.querySelectorAll("#assessmenttype .nav-btn");
        markButtons.forEach((button) => {
            button.addEventListener("click", function () {
                const page = button.getAttribute("data-mark");
                const innercontainer = document.querySelector("#innercontainer");

                const title = document.querySelector("#pagetitle");
                switch (page) {
                    case "assignment":
                        title.innerHTML = '<h1> Assignment Marks </h1>';
                        break;
                    case "tutorial":
                        title.innerHTML = '<h1> Tutorials </h1>';
                        break;
                    case "midterm":
                        title.innerHTML = '<h1> Midterm Marks </h1>';
                        break;
                    case "final":
                        title.innerHTML = '<h1> Final Exam Marks </h1>';
                        break;
                    default:
                        break;
                }

                loadStudentMarkPage(innercontainer, page);
            });
        });






        })


    </script>
</head>
<body>
    <header id="navigation">
                        
    </header>    
    <main>
        <div id="container">
            <section>
                <div class="nav-buttons" id = "assessmenttype">
                    <button class="nav-btn" data-mark="assignment">Assignments</button>
                    <button class="nav-btn" data-mark="tutorial">Tutorials</button>
                    <button class="nav-btn" data-mark="midterm">Midterm</button>
                    <button class="nav-btn" data-mark="final">Final</button>
                </div>
                <br/>
                <div id="pagetitle"> </div>
                </br>
                <div id = "innercontainer">
                    <section> 
                        View your marks
                    </section>
                </div>
            </section>
        </div>
    </main>
</body>
</html>