<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignments</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" media="(prefers-color-scheme: dark)" href="{{ url_for('static', filename='darkstyles.css') }}">

    <script>
        const userId = "{{ user_id }}";

        let name = "";
        let usertype = "";

        fetch(`/user/${userId}`)
        .then(response => response.json())
        .then(user => {
            name = user.name;
            usertype = user.usertype;
            fetch(`/navigation/${usertype}`)
            .then(response => response.text())
            .then(content => {
                document.getElementById("navigation").innerHTML = content;
            })
            .catch(error => console.error("Error:", error));
        })
        .catch(error => console.error("Error:", error));



        document.addEventListener("DOMContentLoaded", function() {
        const hamburger = document.querySelector(".hamburger");
        const navOverlay = document.querySelector(".nav-overlay");
        const navLinks = document.querySelectorAll(".nav-overlay a, .nav a");
        const container = document.querySelector("#container");
        const pageNameContainer = document.getElementById("page-name-container");


        function viewRegrade(container, id, module) {
            container.innerHTML = `
                <div id = "regradeview">
                    <h5> ${module} Regrade Request for ${id} </h5>
                    </br> </br>
                    <button class="nav-btn" data-status = "Approved" > Approve </button>
                    <button class="nav-btn" data-status = "Rejected" > Reject </button>
                </div>
            `;

            const regradeButtons = document.querySelectorAll("#regradeview .nav-btn");
            regradeButtons.forEach((button) => {
                button.addEventListener("click", function () {
                    const status = button.getAttribute("data-status");

                    fetch(`/dorequest/${id}/${module}/${status}`, {
                        method: "PUT",
                        headers: {
                            "Content-Type": "application/json"
                        },
                    })
                    .then(response => response.json())
                    .catch(error => console.error("Error:", error));

                });

            });
        }


        function listRegrades(container) {
            container.innerHTML = `
                <div id = "regradelist">
                    
                </div>`;

                fetch("/allregrades")
                .then(response => response.json()) 
                .then(regrades => {

                    regrades.forEach(regrade => {
                        const regradelistdisplay = document.getElementById("regradelist");
                        const regradeButton = document.createElement('button');
                        regradeButton.classList.add('nav-btn');
                        regradeButton.setAttribute('data-studentid', regrade.id);
                        regradeButton.setAttribute('data-module', regrade.module);
                        regradeButton.textContent = `id: ${regrade.id} Assessment: ${regrade.module}`;

                        regradelistdisplay.appendChild(regradeButton);
                        regradelistdisplay.appendChild(document.createElement("br"));
                        regradelistdisplay.appendChild(document.createElement("br"));

                    });


                    const regradeButtons = document.querySelectorAll("#regradelist .nav-btn");
                    regradeButtons.forEach((button) => {
                        button.addEventListener("click", function () {
                            const assessment = button.getAttribute("data-module");
                            const id = button.getAttribute("data-studentid");
                            viewRegrade(container, id, assessment);
                        });
                    });
            })
            .catch(error => console.error("Error fetching students:", error));



        }

        listRegrades(container);

        })

    </script>
</head>
<body>
    <header id="navigation">
                       
    </header>    
    <main>
        <div id="container">
            <section>
                <div class="nav-buttons" id = "remarkrequests">
                    <button class="nav-btn" data-assessment="Midterm", data-name = "Minki"> Name: Minki | Assessment: Midterm</button>
                </div>
            </section>

        </div>
    </main>
</body>
</html>